CourseData/*
Question5/ALL3.txt
Question7/ProjectData/MP3/*
Question7/ProjectData/MODMP3/*
Question7/ProjectData/SEG/*
Question7/ProjectData/SELSEG/*
Question7/ProjectData/DATA/*
Question7/ProjectData/IMG/*
*.pyc
*.wav
*.mp3